$color-background-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-background-pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-background-light: rgba(253, 253, 255, 0.52);
$color-background-white: #ffffff;
$color-background-black: #000000;
$color-background-gray: #767474;
$color-background-smoky-gray: #ABABAB;
$color-background-light-gray: #F5F7F6;
$color-background-gray2:#F1F3F2;

$color-text-white: #ffffff;
$color-text-dark: #333b41;
$color-text-black: #000000;
$color-text-primary: #fe9013;
$color-text-light-gray:#BDBDBD;

$color-primary: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-primary-dark:#e47209;
$color-secondary: #4b9200;
$color-gray: #767474;
$color-red:#d31414;
$color-yellow: #FFEE2E;
$color-black_blue: #333B41;

$font-text-basic: 16px;
$font-line-height: 140%;

$font-family-primary: 'Roboto', sans-serif;

.watch {
  min-height: 390px;
  background: url(../../../assets/img/panda_bg.png) center no-repeat;
  background-size: cover;

  @media (max-width: 1599.98px) {
    background: url(../../../assets/img/panda_bg.png) left center no-repeat;
  }

  @media (max-width: 1419.98px) {
    background: url(../../../assets/img/panda_bg.png) left -173px center no-repeat;
  }

  @media (max-width: 999.98px) {
    min-height: 335px;
    background: url(../../../assets/img/panda_bg.png) left -273px center no-repeat;
    background-size: cover;
  }

  @media (max-width: 639.98px) {
    min-height: 187px;
    background: url(../../../assets/img/panda_bg.png) left -129px center no-repeat;
    background-size: cover;
  }

  @media (max-width: 539.98px) {
    min-height: 187px;
    background: url(../../../assets/img/panda_bg.png) left -148px center no-repeat;
    background-size: cover;
  }
}

.pick_and_feed {
  padding-top: 40px;
  padding-bottom: 180px;

  @media (max-width: 1599.98px) {
    padding-bottom: 30px;
  }

  @media (max-width: 999.98px) {
    padding-top: 30px;
    padding-bottom: 46px;
  }

  @media (max-width: 639.98px) {
    padding-bottom: 20px;
  }

  .container {
    @media (max-width: 999.98px) {
      width: 600px;
      margin: 0 auto;
    }

    @media (max-width: 639.98px) {
      width: 300px;
      margin: 0 auto;
    }
  }

  .container__background {
    padding: 41px 92px 62px 92px;

    @media (max-width: 1599.98px) {
      padding: 20px 47px 46px 47px;
    }

    @media (max-width: 999.98px) {
      padding: 30px 0px 30px 0px;
    }

    @media (max-width: 639.98px) {
      padding: 20px 0px 20px 0px;
    }
  }
}

.container__light {
  .section__subtitle:nth-of-type(1) {
    margin-bottom: 10px;

    @media (max-width: 1599.98px) {
      width: 80%;
      margin-bottom: 30px;
    }

    @media (max-width: 999.98px) {
      width: 100%;
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 120%;
    }

    @media (max-width: 639.98px) {
      text-align: left;
    }
  }

  .section__subtitle,
  p {
    color: $color-text-white;
  }
  p {
    padding-bottom: 43px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @media (max-width: 999.98px) {
      padding-bottom: 29px;
    }

    @media (max-width: 639.98px) {
      line-height: 138%;
    }

    & b {
      font-weight: 500;
    }
  }

  .section__subtitle:nth-of-type(2) {
    margin-bottom: 60px;
    color: $color-text-primary;

    @media (max-width: 1599.98px) {
      margin-bottom: 42px;
    }

    @media (max-width: 999.98px) {
      margin-bottom: 29px;
    }

    @media (max-width: 639.98px) {
      text-align: left;
    }
  }
}

.container__background {

  .section__title {
    padding-right: 12px;
    margin-bottom: 20px;

    @media (max-width: 1599.98px) {
      margin-bottom: 10px;
    }

    @media (max-width: 999.98px) {
      margin-bottom: 20px;
      padding-right: 0px;
      font-size: 48px;
    }

    @media (max-width: 639.98px) {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
  
  .section__text {
    padding-left: 0;
    margin-bottom: 60px;

    @media (max-width: 999.98px) {
      margin-bottom: 50px;
    }

    @media (max-width: 639.98px) {
      margin-bottom: 10px;
    }

    .section__subtitle {
      margin-bottom: 0px;

      @media (max-width: 999.98px) {
        font-size: 24px;
        text-align: center;
      }

      @media (max-width: 639.98px) {
        font-size: 16px;
        line-height: 140%;
      }
    }
  }

  .button {
    margin-right: -8px;
    margin-bottom: 30px;

    @media (max-width: 639.98px) {
      margin-right: 0px;
    }
  }
  
  .share {
    font-size: 15.9px;
  }
}

.panda {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 89px;
  margin-bottom: 46px;
  padding-right: 13px;

  @media (max-width: 1599.98px) {
    margin-bottom: 48px;
  }

  @media (max-width: 999.98px) {
    margin-bottom: 42px;
  }

  @media (max-width: 639.98px) {
    gap: 50px;
    padding-right: 0px;
    margin-bottom: 2px;
  }

  &::before, &::after  {
    content: "";
    position: absolute;
    top: 136px;
    left: 167px;
    width: 19px;
    height: 2px;
    background-color: $color-black_blue;
    transform: rotate(45deg);

    @media (max-width: 639.98px) {
      top: 76px;
      left: 95px;
      width: 10px;
      height: 1px;  
    }
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.panda__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;

  @media (max-width: 639.98px) {
    padding-top: 29px;
  }

  p {
    @media (max-width: 639.98px) {
      font-size: 9.02255px;
      line-height: 140%;
    }
  }
}

.panda__number {
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  color: $color-text-black;

  @media (max-width: 639.98px) {
    margin-bottom: 9px;
    font-size: 40.6015px;
  }
}

.panda__img {
  position: relative;
  width: 284px;
  height: 246px;

  @media (max-width: 639.98px) {
    width: 160.15px;
    height: 138.72px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 284px;
    height: 246px;
    background-image: url(../../../assets/svg/animals-widget.svg);
    top: 0;
    left: 0;

    @media (max-width: 639.98px) {
      width: 160.15px;
      height: 138.72px;
    }
  }
}

.amount {
  display: flex;
  flex-direction: column;
  width: 100%;

  p {
    margin-left: 4px;
    margin-bottom: 17px;

    @media (max-width: 1599.98px) {
      margin-left: 20px;
    }

    @media (max-width: 999.98px) {
      margin-left: 10px;
      margin-bottom: 7px;
    }

    @media (max-width: 639.98px) {
      margin-left: 0px;
      margin-bottom: 9px;
    }
  }
}

.amount__fieldset {
  height: 27px;
  margin: 0;
  padding: 0;
  margin-bottom: 98px;
  background-color: $color-black_blue;
  border-radius: 2px;
  border: none;

  @media (max-width: 1599.98px) {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 999.98px) {
    width: 100%;
  }

  @media (max-width: 639.98px) {
    height: 13.5px;
    margin-bottom: 49px;
  }

  .amount__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px 0px 2px;
    width: 100%;
    height: 26px;
    list-style: none;

    @media (max-width: 1599.98px) {
      width: 104%;
      margin-left: -13px;
    }

    @media (max-width: 999.98px) {
      width: 98%;
      margin-left: 9px;
    }

    @media (max-width: 639.98px) {
      width: 103%;
      height: 13.5px;
      margin-left: -7px;
      padding: 5px 0px 0px 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 30px;
      width: 93%;
      height: 2px;
      background-color: #72828E;

      @media (max-width: 639.98px) {
        top: 6px;
        left: 25px;
        width: 85%;
      }
    }
  }

  .amount__item {
    position: relative;

    &:first-of-type {
      @media (max-width: 1599.98px) {
        display: none;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      @media (max-width: 999.98px) {
        display: none;
      }
    }
  }

  input[type="radio"] {
    width: 0;
    height: 0;
    appearance: none;
    visibility: hidden;
  }

  label {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
  }

  .amount__label_button {
    display: block;
    width: 10px;
    height: 10px;
    transition: 0.2s all linear;
    background-color: $color-yellow;
    border-radius: 50%;

    @media (max-width: 639.98px) {
      width: 5px;
      height: 5px;
    }
  }

  .amount__label_value {
    position: absolute;
    width: 80px;
    top: 50px;
    left: -1px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: $color-black_blue;

    @media (max-width: 1599.98px) {
      left: 14px;
    }

    @media (max-width: 999.98px) {
      left: 5px;
    }
    
    @media (max-width: 639.98px) {
      width: 35px;
      top: 36px;
      left: 16px;
      font-size: 13px;
    }

    svg {
      width: 10px;
      height: 20px;

      @media (max-width: 639.98px) {
        width: 5px;
        height: 10px;
      }
    }

    svg path {
      fill: $color-black_blue;
    }
  }

  input[type="radio"]:checked ~ label {
    .amount__label_value {
      color: $color-text-primary;

      svg path {
        fill: $color-text-primary;
      }
    }
    
    .amount__label_button {
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        top: 4px;
        left: 9px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $color-text-primary;
        transform: scale(1);
        transition: transform .3s;

        @media (max-width: 639.98px) {
          width: 18px;
          height: 18px;
          top: 12px;
          left: 16px;
        }
      }

      &:hover::before {
        transform: scale(1.1);
        transition: transform .3s;
      }

      &::after {
        width: 20px;
        height: 20px;
        top: 12px;
        left: 17px;

        @media (max-width: 639.98px) {
          width: 10px;
          height: 10px;
          top: 16px;
          left: 20px;
        }
      }

      &:hover::after {
        transform: scale(1.1);
        transition: transform .3s;
      }
    }
  }
}

.amount__another {
  position: relative;
  display: inline-flex;
  align-items: center;
  align-self: center;
  margin-bottom: 18px;

  @media (max-width: 999.98px) {
    margin-bottom: 25px;
  }

  @media (max-width: 639.98px) {
    margin-bottom: 20px;
  }
}

.amount__another_input {
  width: 268px;
  padding: 15px 8px 14px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  border: 1px solid #929699;
  border-radius: 2px;
  outline: none;

  @media (max-width: 999.98px) {
    width: 180px;
    padding: 8px 6px 9px;
  }

  &:focus {
    border: 1px solid $color-secondary;

    &::placeholder {
      color: $color-secondary;
    }
  }

  &:invalid {
    border: 1px solid $color-red;

    &::placeholder {
      color: $color-red;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.amount__another_dollar {
  position: absolute;
  right: 10px;
  fill: #929699;
}

.amount__another_input:focus ~ .amount__another_dollar {
  fill: $color-secondary;
}

.amount__another_input:invalid ~ .amount__another_dollar {
  fill: $color-red;
}

.periodicity__fieldset {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 0px;
  border: none;

  @media (max-width: 999.98px) {
    padding-right: 20px;
  }

  @media (max-width: 639.98px) {
    margin-bottom: 17px;
  }
}

.periodicity__list {
  display: flex;
  gap: 50px;
  list-style: none;

  input[type="radio"] {
    margin: 0;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $color-text-primary;
    transition: 0.2s all linear;

    &:checked {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
    }
  }

  .periodicity__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.social__list {

  @media (max-width: 1599.98px) {
    padding-right: 117px;
  }
  
  @media (max-width: 999.98px) {
    padding-right: 0;
  }
}